
/* https://coolors.co/393d3f-fdfdff-c6c5b9-62929e-546a7b*/
* {box-sizing: border-box}
body {
	margin: 0;
	background-color: #effdb1;
	color: black;
  font-family: 'Nunito', sans-serif;
}

#main {
  margin-top: 50px;
	padding: 0 20px;
}

.title{ 
	color: white !important;
	font-family: 'Lobster', sans-serif;
} 

h1 {
  font-family: 'Raleway', sans-serif;
	font-size: 35px;
	color: #140959;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 36px;
		font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 100%;
}

h3 {
	font-size: 15px;
		font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 100%;
}

h4 {
	font-size: 12px;
		font-family: 'Raleway', sans-serif;
	width: 100%;
}

a {
	font-family: 'Nunito', sans-serif;
	color: black;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #b38ef0;
}

/* selected link */
a:active {
  color: #8044c4;
}

p {
	font-size: 24 !important;
	padding-left: 30px;
	padding-right: 30px;
}


.button {
	text-align: center;
	margin: 20px;
}

.button a {
	background-color:inherit;
	text-decoration: none;
	padding: 10px 20px;
	color: #8044c4;
	border: dashed 2px #bc8ef0;
}

.button a:hover {
	background-color: #ff6768;
	color: white;
	border: solid 2px #ff6768;
	border: 0;
}



.sources {
	margin: 0 auto;
	overflow-wrap: anywhere;
	word-wrap: anywhere;
	display: table;
}

/* Index.html */

.welcome {
	background-image: url(Pictures/img2.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
	background-image: url(Pictures/img1.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
	background-image: url("Pictures/headway-5QgIuuBxKwM-unsplash.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
	width: 70%;
	margin: 20px auto;
	display: block;
	height: 500px;
}

.index h1 {
	padding: 0px 20px;
	font-size: 90px;
}

.index p {
	font-size: 30px;
	text-align: center;
}
.contact-form textarea {
	height: 200px;
}

form {
	z-index: 1;
	position: relative;
}
.form-control {
    width: 100%;
    background: transparent;
		margin: 10px;
    outline: none;
    border: 2px solid white;
    color: #fff;
    font-family: sans-serif;
		resize: none;
		font-size: 20px;
}
::placeholder {
    color: white;
    opacity: 1;
    font-family: sans-serif;
}
form .submit {
	background: rgb(89, 204, 238);
}


.tab {
	overflow:hidden;
	display: flex;
	size: 1200px;
	background: #140959;
}

.tab button{
	background-color: #140959;
	font-family: 'Nunito', sans-serif;
	display: block;
	padding:14px 16px;
	border:none;
	width: 100%;
	outline:none;
	cursor: pointer;
	transition: 0.2s;
	font-weight: bold;
	color: white;
}

.tab button:hover{
	background:rgba(143, 107, 228, 0.9);
}
.tab button.active{
	background: #555fd3;

}

.tabcontent{
	padding: 6px 12px;
	display: none;
	border: 1 px solid #ccc;
	border-top: none;
}

.block{
	background-color:#140959;
	text-align: center;
	padding: 20 px;
	padding-top: 20 px;
	padding-bottom: 20 px;
}

/* art gallery */
.gallery-section-1 {
	background-color: #59ccee;
	float:left;
	margin: 20px;
	padding: 20px;
}

.gallery-section-2 {
	background-color: #8044c4;
	text-align: center;
	font-size: 24 px !important;
	float: left;
	margin: 20px;
	padding: 20px;
	color: white;
}


.gallery-section-3 {
	background-color: #140959;
	text-align: center;
	float: left;
	margin: 20px;
	padding: 20px;
	color: white;
}

.gallery-section-3 h1 {
	color: white;
}

.services-1 {
	width: 100%;
	float:left;
}
.services-2 {
	width: 100%;
	background-color: #555fd3;
	float:left;
	padding: 10px;
}
.services-3 {
	width: 100%;
	background-color: #59ccee;
	float:left;
	padding: 10px;
}

.organized-gallery {
	float: left;
	width: 100%;
}

.non-event {
	width: 100%;
	float: left;
}

hr {
	height: 2px;
	background-color: #555fd3;
	width: 90%;
	border: none;
}

.event {
	float: left;
	width: 50%;
}

.event img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.responsive {
  padding: 0 6px;
  float: left;
	text-align: center;
  width: 24.99999%;
}
.responsive img {
	width:50%;
	border-radius: 100%;
}
@media only screen and (min-width: 1151px) {
}

@media only screen and (min-width: 801px) and (max-width: 1150px) {
	iframe {
		width: 90%;
		margin: 10px auto;
		display: block;
		height: 400px;
	}
	.sources {
		margin: 0 20px;
	}
	.contact-form textarea {
		height: 350px;
	}
	.welcome {
		background-attachment: scroll;
	}
	.about {
		background-attachment: scroll;
	}
	.services {
		background-attachment: scroll;
	}
	#main {
		margin-top: 150px;
	}
	ul, table, p, .form-control, button {
		font-size: 30px;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 40px;
	}

	.index h1 {
		padding: 0px;
		font-size: 80px;
	}

	.index p {
		font-size: 30px;
		text-align: center;
	}
	/*index.html*/

	/* stem.html */
	/*gallery*/
	.responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
	.event {
		width: 100%;
	}
	.button a {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

}
/*phone */
@media only screen and (max-width: 800px) {
	iframe {
		width: 100%;
		margin: 10px auto;
		display: block;
		height: 350px;
	}
	.sources {
		margin: 0 10px;
	}
	.contact-form textarea {
		height: 500px;
	}
	p, ul, table, .form-control, button {
		font-size: 30px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 35px;
	}
	.welcome {
		background-attachment: scroll;
	}
	.about {
		background-attachment: scroll;
	}
	.services {
		background-attachment: scroll;
	}
	#main {
		margin-top: 200px;
	}
	.index h1 {
		padding: 0px;
		font-size: 10vw;
	}

	.index p {
		font-size: 30px;
		text-align: center;
	}
	/*index.html*/

	/* stem.html */

	/*gallery*/
	.responsive {
		width: 100%;
	}
	.event {
		width: 100%;
	}
	.button a {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
}
/* Links for sources*/
.multipleLinks {
  width: 100%;
  top:20;
  text-align: left;
  font-size: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}
  
  /* Timeline Container */
  .timeline {
	background: var(--primary-color);
	margin: 0 auto;
	padding: 20px;
  }
  
  /* Card container */
  .card {
	position: relative;
	max-width: 400px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
	padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
	padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
	content: "";
	position: absolute;
	width: 50%;
	border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
	left: 0px;
	top: -4.5px;
	bottom: -4.5px;
	border-width: 5px 0 5px 5px;
	border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
	right: 0;
	top: 0;
	bottom: 0;
	border-width: 5px 5px 5px 0;
	border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
	border-top: 0;
	border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
	border-bottom: 0;
	border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
	border-bottom: 0;
	border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
	display: flex;
	flex-direction: column;
	background: #333;
	color: gray;
	border-radius: 10px;
	padding: 10px;
  }
  
  /* Title of the card */
  .titlecard {
	color: orangered;
	position: relative;
  }
  
  /* Timeline dot  */
  .titlecard::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 999px;
	border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .titlecard {
	text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .titlecard::before {
	left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .titlecard::before {
	right: -45px;
  }